/*
 * Main Styles
 */

@import 'reset';

// Colors
$primary: #a1ffa5;
$secondary: #2a4958;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:300,400,700);
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$open-sans: 'Open Sans', $helvetica;
$georgia: Georgia, Times, serif;
$roboto: 'Roboto Slab', $georgia;
$font: $open-sans;
$font-secondary: $roboto;

// Other
$max-width: 54rem;


// ------------------------- //


*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    color: $primary;
    font-family: $font;
    min-width: 20rem;
    background: $secondary;
    // background: -moz-linear-gradient(top, $secondary 0%, $primary 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, $secondary 0%,$primary 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, $secondary 0%,$primary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$secondary', endColorstr='$primary',GradientType=0 ); /* IE6-9 */
}

h1, h2, h3,
h4, h5, h6 {
    font-family: $font-secondary;
}

p {
    line-height: 1.25;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: $primary;
}

::selection {
    color: $secondary;
    background: #ccffd1;
}

.cf {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 2rem;
}

.section {
    padding: 5rem 0;
}

.section--space {
    .container {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 2rem;
            bottom: -5rem;
            display: block;
            width: 100px;
            height: 2px;
            background: $primary;
        }
    }
}
.section--alt {
    background: $primary;
    color: $secondary;

    a {
        color: $secondary;
    }
}

.section--hero {
    h1 {
        margin: 0 0 2rem;
        font-size: 2.75rem;
        line-height: 0.8;

        a {
            display: block;
            text-decoration: none;
        }

        @media (min-width: 30rem) {
            font-size: 5rem;
        }

        @media (min-width: $max-width) {
            font-size: 10.25rem;
        }

        span {
            display: block;

            @media (min-width: $max-width) {
                font-size: 9.1rem;
            }
        }

        .talks {
            @media (min-width: $max-width) {
                font-size: 19.8rem;
            }
        }
    }

    h2 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: normal;
        line-height: 1.25;

        @media (min-width: 30rem) {
            font-size: 1.5rem;
        }

        span {
            text-decoration: underline;
        }
    }
}

.section--next-meetup {
    .date {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        line-height: 1.25;

        @media (min-width: 30rem) {
            font-size: 1.75rem;
        }
    }

    .title {
        margin: 2rem 0 1rem;
        font-size: 1.25rem;
        font-weight: bold;

        @media (min-width: 30rem) {
            font-size: 1.5rem;
        }

        @media (min-width: $max-width) {
            font-size: 2rem;
        }
    }

    .description {
        @media (min-width: 30rem) {
            font-size: 1.25rem;
        }
    }

    .details {
        margin-bottom: 1rem;
    }

    .speakers {
        margin-bottom: 1rem;
    }

    .guests {
        margin-bottom: 1rem;
    }

    @media (min-width: 30rem) {
        .speakers,
        .sponsors {
            float: left;
            width: 50%;
            padding: 1rem 0;
        }

        .speakers {
            padding-right: 1rem;
            margin-bottom: 0;
        }

        .sponsors {
            padding-left: 1rem;
        }
    }
}

.section--talks {
    .date {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        line-height: 1.25;

        @media (min-width: 30rem) {
            font-size: 1.75rem;
        }
    }

    .title {
        margin: 1rem 0;
        font-size: 1.25rem;
        font-weight: bold;

        @media (min-width: 30rem) {
            font-size: 1.5rem;
        }

        @media (min-width: $max-width) {
            font-size: 2rem;
        }
    }

    .description {
        @media (min-width: 30rem) {
            font-size: 1.25rem;
        }
    }
}

.section--footer {
    .credit,
    .callout {
        @media (min-width: 30rem) {
            font-size: 1.25rem;
        }
    }

    .credit {
        // margin-bottom: 4rem;
    }

    .callout {
    }
}


// Nvite styling
.nvite-widget-heading {
    font-weight: 400 !important;
}

.nvite-rsvp-widget-button {
    background: $primary !important;
    color: $secondary !important;
}

.nvite-widget-card {
    color: $secondary;
}

.nvite-context-speaker,
.nvite-context-sponsor,
.nvite-context-host,
.nvite-context-friend,
.nvite-context-guest {
    &.nvite-card-context {
        background: $secondary !important;
        color: $primary !important;
    }

    &.nvite-widget-entity:hover > img {
        border-color: $primary !important;
    }

    .nvite-tooltip {
        &:after {
            border-top-color: $primary !important;
        }

        small {
            color: $secondary !important;
            // display: none !important;
        }

        > span {
            color: $secondary !important;
            background-color: $primary !important;
        }
    }
}

@media (max-width: 30rem) {
    .nvite-widget-entity {
        &.nvite-context-host,
        &.nvite-context-friend,
        &.nvite-context-guest {
            $size: 50px;
            height: $size;

            img {
                width: $size;
                height: $size;
            }
        }
    }
}
